.no-posts-found {
    text-align: center;
    margin: 0 auto;
}

.no-posts-found h2 {
    font-size: 40px;
    line-height: 50px;
    color: #8d8d8d;
    margin-top: 20px;
}

.not-found-section {
    padding-bottom: 60px !important;
}

.not-found-section h2 {
    font-size: 48px;
}

.not-found-section p {
    font-size: 30px !important;
    line-height: 29px !important;
}

section.banner.not-found-section{
    padding-bottom: 0 !important;
}